<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mirrket.com.smartlibrary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bookshelf"
        android:windowSoftInputMode="stateVisible|adjustResize"
        android:imeOptions="actionSend|flagNoEnterAction"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme.Base">

        <!-- Main activity -->
        <activity android:name=".Activity.MainActivity">
            <!-- Launcher Intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.KitapDuzenle"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:imeOptions="actionSend|flagNoEnterAction"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.RafDuzenle"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:imeOptions="actionSend|flagNoEnterAction"
            android:label="@string/app_name" />
    </application>

</manifest>